{{define "subject"}}Завершення реєстрації на Blogo{{end}}

{{define "body"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
      /* Загальні стилі */
      body {
        align-items: center;
        min-height: 100vh;
        font-family: 'Roboto', sans-serif;
        background-color: #f3f4f6;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
      }
      .email-container {
        max-width: 600px;
        width: 100%;
        background: linear-gradient(to right, #6a11cb, #2575fc);
        border-radius: 15px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        padding: 30px;
        text-align: center;
        color: #ffffff;
      }
      h1 {
        font-size: 28px;
        margin-bottom: 15px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      p {
        font-size: 16px;
        margin: 10px 0;
        line-height: 1.7;
        color: #ffffff;
      }
      a {
        text-decoration: none;
        font-weight: bold;
        color: #ffffff;
        padding: 12px 25px;
        background-color: #f57c00;
        border-radius: 30px;
        display: inline-block;
        transition: all 0.3s ease;
        margin-top: 20px;
        text-align: center;
      }
      a:hover {
        background-color: #f59c42;
        transform: translateY(-3px);
      }
      .cta-button {
        font-size: 18px;
      }
      .footer {
        font-size: 14px;
        color: #dddddd;
        margin-top: 30px;
        text-align: center;
      }
      .footer a {
        color: #ffffff;
        text-decoration: none;
      }
      .footer a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <div class="email-container">
      <h1>Ласкаво просимо до Blogo! 🎉</h1>
      <p>Привіт 👋🏻 {{.Username}},</p>
      <p>Дякуємо за реєстрацію на Blogo. Ми раді вас бачити!</p>
      <p>Перед тим, як почати користуватися Blogo, вам потрібно підтвердити свою електронну адресу. Клацніть на посилання нижче, щоб підтвердити свою адресу:</p>
      <p><a class="cta-button" href="{{.ActivationURL}}">Підтвердити електронну адресу</a></p>
      <p>Якщо ви хочете активувати свій акаунт вручну, скопіюйте та вставте код активації з наведеного посилання.</p>
      <p>Якщо ви не реєструвалися на Blogo, просто ігноруйте цей лист.</p>
      <p>Дякуємо,</p>
      <p>Команда Blogo 😇</p>
      <div class="footer">
        <p>&copy; 2025 Blogo. Усі права захищені.</p>
        <p><a href="#">Політика конфіденційності</a> | <a href="#">Умови використання</a></p>
      </div>
    </div>
  </body>
</html>
{{end}}